<div class="notificationcontainer">
    <div class="notification-header">
        <h2>App Messages</h2>
        <button class="btn btn-light" (click)="openPopup(content,false)">Add New</button>
    </div>
    <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
    </div>
    <table class="table" *ngIf="!isLoading">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Heading</th>
                <th scope="col">Sub heading</th>
                <th scope="col">Body</th>
                <th scope="col">Active</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let notification of notificationList; index as i">
                <th>{{notification.Date| date:'shortDate'}}</th>
                <td>{{notification.Heading}}</td>
                <td>{{ notification.SubHeading }}</td>
                <td>{{ getData(notification.Body) }}</td>
                <td>
                    <button type="button" class="close" aria-label="Close">
                        <span *ngIf="!notification.IsActive" aria-hidden="true" style="color:red">&times;</span>
                    </button>
                </td>
                <td><button class="btn btn-light" (click)="openPopup(content,true,notification)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header border-none">
        <h2 class="modal-title" id="modal-basic-title">{{modalTitle}}</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style='border: none;'>
        <span style="color:red;" *ngIf="(!myForm.valid && submitted) || (!editorData.trim().length && submitted)">Please fill fields marked as *</span>
        <form [formGroup]="myForm">
            <div class="message-modal">
                <div class="message-group">
                    <label for="dateOfBirth">Heading<sup class="red">*</sup></label>
                    <div class="input-group">
                        <input formControlName="heading" class="form-control" placeholder="Heading">
                    </div>
                </div>
                <div class="message-group">
                    <label for="dateOfBirth">SubHeading<sup class="red">*</sup></label>
                    <div class="input-group">
                        <input formControlName="subHeading" class="form-control" placeholder="Sub heading">
                    </div>
                </div>
                <div class="message-group">
                    <label for="dateOfBirth">Body<sup class="red">*</sup></label>
                    <div class="input-group">
                        <ckeditor [(ngModel)]="editorData" [ngModelOptions]="{standalone: true}" [config]="config"
                            [readonly]="false" debounce="500">
                        </ckeditor>
                    </div>
                </div>
                <div class="message-group">
                    <label for="dateOfBirth">Active</label>
                    <div class="input-group" style="padding-top: 8px;">
                        <input formControlName="isActive" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer border-none">
        <button type="button" class="btn btn-success" (click)="addUpdateMessage(modal);submitted=true">Save</button>
    </div>
</ng-template>